<% content_for :title do %>
 TRLN Discovery Dashboard
<% end %>
 <h1>Dashboard</h1>
 <div class='solr'>
   <h2>Solr Status</h2>
  <ul class='list-group'>
  <% @ping_results.each do |hostname, results| %>

   <li class="list-group-item <%= solrstatus_to_bootstrap_item(results['status']) %>"><%= hostname %> : <%= results['status'] %>
  <% end %>
  </ul>
  <button class="btn btn-secondary" data-toggle='collapse' data-target='#clusterstatus' aria-expanded='false' aria-controls='clusterstatus'>
    Solr Cluster Status
  </button> <span class="nodecount"><%= pluralize(@live_nodes.length, 'node') %> active</span>
  <div class="collapse" id='clusterstatus'>
    <pre>
      <code><%= JSON.pretty_generate(@clusterstatus) %></code>
    </pre>
  </div>
 </div>
 <hr>
 <div class="background-jobs">
   <h2>Background Tasks</h2>
     <div class="status">
     	<h3>
     		<span class="<%= @sidekiq[:running] ? 'text-success' : 'text-warning' %>"><%= @sidekiq[:message] %></span>
     	</h3>
     </div>

   <% if @sidekiq[:stats] %>
   <table class="table table-striped table-bordered sidekiq-stats">
   	<thead>
   		<tr>
   			<th scope='col'>Property</th>
   			<th scope='col'>Value</th>
   		</tr>
   	</thead>
   	<tbody>
   		<% %i[processed failed retry_size enqueued].each do |p| %>
   		<tr>
   			<td scope='row'><%= p.to_s.titleize %></td>
   			<td><%= @sidekiq[:stats].send p %></td>
   		</tr>
   		<% end %>
   	</tbody>
   </table>
    <% else %>
     <ul class='list-group'>
     	<li class='list-group-item list-group-item-error'>Unable to read statistics from Sidekiq, it may not be running</li>
     </ul>
   <% end %>
   <%= render partial: 'rerun_form', locals: { confirm: false } %>
 </div>
